name: "Packer checks"
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "images/**"
      - ".github/workflows/packer-build.yml"
      - "module/runners/templates/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  AWS_REGION: eu-west-1
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  verify_packer:
    name: Verify packer
    runs-on: ubuntu-latest
    container:
      image: index.docker.io/hashicorp/packer@sha256:12c441b8a3994e7df9f0e2692d9298f14c387e70bcc06139420977dbf80a137b # 1.11.2
    strategy:
      matrix:
        image: ["linux-al2023", "windows-core-2019", "windows-core-2022", "ubuntu-focal", "ubuntu-jammy", "ubuntu-jammy-arm64"]
    defaults:
      run:
        working-directory: images/${{ matrix.image }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: "Checkout"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: packer init
        run: packer init .
      - name: check packer formatting
        run: packer fmt -recursive -check=true .
      - name: packer validate
        run: packer validate -evaluate-datasources .
